@import "tailwindcss";
@import "@nuxt/ui";

@layer theme {
  :root {
    --font-sans: "Mulish", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      sans-serif;
  }
}
